// temporary page for broken twitter account message
// todo remove when twitter account fixed
div#twitter{
    width: 310px;
    height: auto;
    border: 2px solid rgb(12, 85, 134);
    margin: 50px auto;
    padding: 10px 1px 10px 30px;
    background: rgb(202, 200, 200);
    border-radius: 8px;
}